.content {
	width:70%;
	height:500px;
	display:inline-block;
	box-sizing: border-box;
	vertical-align:top;
}
ul.menu{
	width:25%;
	text-align:center;
	display:inline-block;
	box-sizing: border-box;
	vertical-align:top;
	margin-right:10px;
}
ul.menu li {
	display : inline;
}
ul.menu li a {
	width:100%;
	float: left;
	padding: 9px 0px;
	text-decoration: none;
}

ul.menu li a:hover {
	background-color: #add8e6;
	text-decoration: underline;
}
ul.menu li a.current {
	background-color: #4df0f2;
	text-decoration: underline;
}

.header {

}